## Basic Calculations

In [1]:
# Addition
5 + 5 

# Subtraction
5 - 5 

# Multiplication
3 * 5

 # Division
(5 + 5) / 2 

# Exponentiation
2 ^ 5

# Modulo
28 %% 6

[1] 10

[1] 0

[1] 15

[1] 5

[1] 32

[1] 4

## Variable Assignment

In [13]:
msft_close <- 24.34
msft_close

[1] 24.34

In [14]:
msft_shares <- 240453600
msft_close * msft_shares

[1] 5852640624

## Workspace Variables

All these variables are stored in your workspace. The command ``ls()`` lists the contents of this workspace.

In [15]:
ls()

[1] "msft_close"  "msft_shares"

``rm(<<varname>>)`` removes the variables from your workspace.

In [16]:
rm('msft_shares')

In [17]:
ls()

[1] "msft_close"

To clear the whole workspace:

In [20]:
rm(list = ls())
ls()

character(0)

## Basic Data Types

In [23]:
share_price <- 23.4 # numric type
share_price

total_shares <- 1234L # integer type
total_shares

symbol <- "Apple" # character type
symbol

is_company <- TRUE # logical type
is_company

[1] 23.4

[1] 1234

[1] "Apple"

[1] TRUE

We can check the types of the variables by using ``class(<<variable>>)`` function.

In [24]:
class(share_price)

class(total_shares)

class(symbol)

class(is_company)

[1] "numeric"

[1] "integer"

[1] "character"

[1] "logical"

## Data Coercion

You can apply coercion to tranform data from one type to another. R has a set of functions `as.numeric`, `as.integer` ,`as.character` and `as.logical` for this purpose.

In [25]:
as.integer(share_price)

[1] 23

In above example, since we have converted a ''numeric'' type to integer, you will loose the numbers after the decimal places.

In [32]:
as.logical(1)
as.logical(0)

[1] TRUE

[1] FALSE

Logical conversion treats 0 as FALSE and any numeric value greater than 0 as TRUE.

In [34]:
as.numeric("20") # Converting character into numeric value

[1] 20

Similary